/*
Style for Clip Cart.
*/

a, 
h2 a:hover {
	color: #aabd5c;
}

#wrap {
	border-color: #aabd5c;
}

.breadcrumb .crumb_home a {
	background-image: url(green/bg-crumbhome.png);
}

#slides .nav {
	background-image: url(green/graphic-slidernav_spr.png);
}

a.button, 
.reply a, 
.reply a:visited,
.gform_wrapper div.gform_footer input.button,
.enews #subbutton,
.searchsubmit,
#submit,
#wrap .Cart66ButtonPrimary, 
#wrap .Cart66ButtonSecondary, 
#wrap #content .Cart66ButtonPrimary, 
#wrap #content .Cart66ButtonSecondary, 
#wrap .Cart66CartButton .purAddToCart {
	background: url(green/bg-button.png) repeat-x center;
	border-color: #758633;
	color: #fff !important;
	text-shadow: 1px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,.25);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,.25);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,.25);
}

a.button:hover, 
.reply a:hover,
.gform_wrapper div.gform_footer input.button:hover,
.enews #subbutton:hover,
.searchsubmit:hover,
#submit:hover,
#wrap .Cart66ButtonPrimary:hover, 
#wrap .Cart66ButtonSecondary:hover, 
#wrap #content .Cart66ButtonPrimary:hover, 
#wrap #content .Cart66ButtonSecondary:hover, 
#wrap .Cart66CartButton .purAddToCart:hover {
	border-color: #515e1b;
}

a.button:active, 
.reply a:active,
.gform_wrapper div.gform_footer input.button:active,
.enews #subbutton:active,
.searchsubmit:active,
#submit:active,
#wrap .Cart66ButtonPrimary:active, 
#wrap .Cart66ButtonSecondary:active, 
#wrap #content .Cart66ButtonPrimary:active, 
#wrap #content .Cart66ButtonSecondary:active, 
#wrap .Cart66CartButton .purAddToCart:active {
	background: url(green/bg-button-hover.png) repeat-x center #aabd5c;
	border-color: #515e1b;
}

#mobile_menu_area #pull {
	background-color: #aabd5c;
	background-image: linear-gradient(to bottom, #aabd5c, #879843);
	border-color: #63702e;
}

#mobile_menu_area #pull a {
	color: #eee;
}

#mobile_menu_area #pull a:hover,
#mobile_menu_area #pull .current_page_item a,
#mobile_menu_area #pull .current-cat a,
#mobile_menu_area #pull .current-menu-item a {
	background-color: #7a893c;
}

#mobile_menu_area #pull:after {
	background-image: url('green/mobile_button.png');
}