/*
Style for Clip Cart.
*/

a, 
h2 a:hover {
	color: #c34f4c;
}

#wrap {
	border-color: #c34f4c;
}

.breadcrumb .crumb_home a {
	background-image: url(red/bg-crumbhome.png);
}

#slides .nav {
	background-image: url(red/graphic-slidernav_spr.png);
}

a.button, 
.reply a, 
.reply a:visited,
.gform_wrapper div.gform_footer input.button,
.enews #subbutton,
.searchsubmit,
#submit,
#wrap .Cart66ButtonPrimary, 
#wrap .Cart66ButtonSecondary, 
#wrap #content .Cart66ButtonPrimary, 
#wrap #content .Cart66ButtonSecondary, 
#wrap .Cart66CartButton .purAddToCart {
	background: url(red/bg-button.png) repeat-x center;
	border-color: #ab4240;
	color: #fff !important;
	text-shadow: 1px 1px rgba(0,0,0,.5);
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,.15);
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,.15);
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,.15);
}

a.button:hover, 
.reply a:hover,
.gform_wrapper div.gform_footer input.button:hover,
.enews #subbutton:hover,
.searchsubmit:hover,
#submit:hover,
#wrap .Cart66ButtonPrimary:hover, 
#wrap .Cart66ButtonSecondary:hover, 
#wrap #content .Cart66ButtonPrimary:hover, 
#wrap #content .Cart66ButtonSecondary:hover, 
#wrap .Cart66CartButton .purAddToCart:hover {
	border-color: #54110f;
}

a.button:active, 
.reply a:active,
.gform_wrapper div.gform_footer input.button:active,
.enews #subbutton:active,
.searchsubmit:active,
#submit:active,
#wrap .Cart66ButtonPrimary:active, 
#wrap .Cart66ButtonSecondary:active, 
#wrap #content .Cart66ButtonPrimary:active, 
#wrap #content .Cart66ButtonSecondary:active, 
#wrap .Cart66CartButton .purAddToCart:active {
	background: url(red/bg-button-hover.png) repeat-x center #c95856;
	border-color: #54110f;
}

#mobile_menu_area #pull {
	background-color: #c34f4c;
	background-image: linear-gradient(to bottom, #c34f4c, #9d3e3c);
	border-color: #562020;
}

#mobile_menu_area #pull a:hover,
#mobile_menu_area #pull .current_page_item a,
#mobile_menu_area #pull .current-cat a,
#mobile_menu_area #pull .current-menu-item a {
	background-color: #903937;
}

#mobile_menu_area #pull:after {
	background-image: url('red/mobile_button.png');
}