
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=2528083fb88942a35299ae992bbc730c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
